:root {
  --secondary-color: darkslategray;
  --window-display: grid;
}
.App {
  display: grid;
  grid-row-gap: 1.5em;
  grid-template-columns: 1fr minmax(auto,50em) 1fr;
  font-family: sans-serif;
  background-color: teal;
  padding: 2em;
  min-height: 100vh;
  box-sizing: border-box;
  align-items: flex-start;
}
.window-header {
  background-color: cadetblue;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  padding: 0 0.5em;
  height: 2em;
  width: 100%;
}
.window-button {
  font-weight: bold;
  background-color: transparent;
  border: none;
  justify-self: flex-end;
}
.window-button > svg > g {
  fill: black;
}
.window-button:hover > svg > g {
  fill: skyblue;
}
.window-header > label {
  text-transform: capitalize;
}
.window-header > label::before {
  content: '( )';
  background-image: url('https://svgsilh.com/svg/1345870.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.25em;
}
.window-body {
  background-color: powderblue;
  padding: 0.5em;
}
textarea.window-body {
  resize: vertical;
  font-family: monospace;
  min-height: 12.5em;
}
.window-small > .window-body {
  grid-column: 2;
}
output.window-body {
  font-family: serif;
}
.window-small {
  grid-template-columns: 1fr minmax(0, 37.5em) 1fr;
}
.window-small > .window-header {
  grid-column: 2;
}
.window {
  display: var(--window-display);
  grid-column: 2;
  grid-auto-rows: minmax(2em, auto);
}
.window-max {
  /* Overrides var(--window-display); */
  display: grid;
}
.window-max,
.window-max > .window-body,
.window-max > .window-header {
  grid-column: span 3;
}
.window-max > .window-body {
  /* Expand to viewport height sans header and App padding */
  min-height: calc(100vh - 9em);
}
.window-min {
  display: none;
}
.window-body,
.window-header {
  border: thin solid black;
  box-shadow: 0 0 0.5em black;
  box-sizing: border-box;
  word-break: break-word;
}
output.window-body h1 {
  border-bottom: medium solid var(--secondary-color);
  margin: 0;
}
output.window-body h2 {
  border-bottom: thin solid var(--secondary-color);
}
output.window-body pre,
output.window-body code {
  background-color: white;
  font-family: monospace;
  font-weight: bold;
  padding: 0.25em;
}
output.window-body pre {
  white-space: pre-wrap;
}
output.window-body blockquote {
  color: var(--secondary-color);
  border-left: medium solid var(--secondary-color);
  margin: 1.25em;
  padding: 0 0.25em;
}
output.window-body td,
output.window-body th {
  background-color: powderblue;
  padding: 0 0.25em;
  font-size: 0.9em;
}
output.window-body table {
  display: grid;
  background-color: var(--secondary-color);
  padding: 2px;
  grid-gap: 2px;
}
output.window-body tbody {
  display: grid;
  grid-gap: 2px;
}
output.window-body tr {
  display: grid;
  grid-gap: 2px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
output.window-body img {
  max-width: 100%;
  height: auto;
}